
.fixed{
    
    cursor: pointer;
    margin-top: 3px;
    margin-left: 20px;
}

.fixeds{
    margin-top: 3px;
    float: right;
    margin-right: 8px;
    cursor: pointer;
}
.mat-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.imgbox {
    display: grid;
}

.center-fit {
    max-width: 100%;
    margin: auto;
}

// .logo {
//     float: right;
//     margin-right: 200px;
//     margin-top: 3px;
//     padding: 2px;
//     width: 160px;
//     display: inline-block;
//   }
  .define{
    display: inline-block;
    margin-left: 130px;
    margin-top: 31px;
    margin-bottom: 16px;
}

h4{
    color: white;
    cursor: pointer;
}

.h4color{
    color: black;
}

header{
    position: fixed;
    height: 100px;
    width: 100%;
   background-color: white;
   z-index: 9;
}

#headerContent1{
    margin-top: 100px;
    //margin-left: 5px;
    height: 100%;
}
hr{
    //margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}






#sidenav{
    width: 240px;
    background-color: #353b48;
}

#sidenav.menu-close{
    width: 70px;
}

#sidenav.menu-open{
    width : 240px;
}

#sidenavContainer{
    margin-top: 10px;
    background-color: white;
}


// #sidenav .mat-nav-list{
//     margin-top: 36px;
// }

// #sidenav .menu-item{
//     width: 100%;
//     border-radius: 0;
//     text-align: left;
//     padding: 10px;
// }

// #sidenav .menu-item:hover{
//     background: #eee;
// }

// #sidenav .menu-item mat-icon{
//     margin-right: 20px;
//     margin-left: 12px;
// }

// .dash-list h3{
//     padding: 12px;
// }

