

.edit{
    margin-top: 6px;
    height: 60%;
    width: 50px;
    cursor: pointer;
}


button{
    border: none;
    background: none;
    width: 100%;
}

button:active, button:focus{
    border: none;
    outline: none !important;
}