<div class = "decorate">
    <ag-grid-angular
      #agGrid
      style="width: 90%; height: 90%;"
      id="myGrid"
      class="ag-theme-alpine"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      [frameworkComponents]="frameworkComponents"
      [defaultColDef]="defaultColDef"
      [rowSelection]="rowSelection"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>



































































<!-- <div class = "abc">
    <button (click)="getSelectedRows()"><mat-icon>edit</mat-icon></button>
    <button (click)="deleteSelectedRow()"><mat-icon>delete</mat-icon></button>
    <ag-grid-angular
        #agGrid
        style="width: 89.047%; height: 500px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
        >
    </ag-grid-angular>
</div> -->